* {
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
    text-align: center;
}

#wrapper {
    background: lightgray;
    margin: 0 auto;
    width: 1000px;
}

ul li {
    width: 41px;
    height: 41px;
    border: 1px solid black;
    font-size: 8px;
}
ul{
    list-style: none;
}
h1{
    font-size: 10px;
}

#period, .blue, .pink, .yellow, #group li {
    display: inline-block;
    margin-bottom: 20px;
}
.blue{
    background-color: blue;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}
#extra, #green_elements{
    display: inline-block;
}
#extra{
    width: 100px;
}
.green{
    background-color: green;
}
.green li{
    display: inline-block;
}

