/*CSS reset settings here*/
/** {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 15px;
}

#header {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}

#navigation {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

#main_content {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    padding: 15px;
}

.subcontent {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 0px 10px 15px 0px;
    display: inline-block;
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
}*/

*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 960px;
    background-color: #C0C0C0;
    margin: 0 auto;
    padding: 20px;
}
#green{
    height: 100px;
    background-color: #008000;
    margin-bottom: 20px;
}
#blue, #red{
    display: inline-block;
    vertical-align: top;
}
#blue{
    height: 200px;
    width: 200px;
    background-color: #0000FF;
}
#red{
    height: 350px;
    width: 735px;
    background-color: red;
    margin-left: 20px;
    
}
.yellow{
    width: 220px;
    height: 150px;
    background-color: #FFFF00;
    margin: 10px 0 10px 10px;
    display: inline-block;
}
#purple{
    width: 690px;
    height: 100px; 
    background-color: #800080;
    margin-left: 10px;
}