@media(max-width: 480px){
	body{background-color: green};
}
@media only screen and (min-width: 481px){
	body{background-color: red};
}
@media only screen and (min-width: 1024px){
	body{
		background-color: yellow;
	}
}