* {
	font-family: "Tahoma";
	margin: 0px;
	padding: 0px;
}

#container{
	width: 900px;
	margin: 0px auto;
}

header{
	height: 100px;
	background-color: darkred;
	overflow: hidden;
}
	header img, h1, #right_header{
		display: inline-block;
		vertical-align: top;
		margin: 5px;
	}
	header img{
		margin-top: 20px;
	}
	header h1{
		color: white;
		margin-top: 30px;
		font-size: 22px;
	}
		
	header li{
		display: inline;
	}

#right_header{
	margin-left: 130px;
}

	#right_header form{
		margin-left: 25px;
	}
	
	#right_header input[type=submit]
	{
		background-color: darkred;
		border: 1px solid white;
		color: white;
		padding: 1px;
	}

#text_links{
	font-size: 8px;
	margin-left: 25px;
	margin-bottom: 5px;
}
	#text_links a{
		color: yellow;
		font-size: 12px;
	}
	
	#text_links ul li:first-child:after{
		content: none;
	}
	
	#text_links ul li:nth-child(2):after{
		content: "/";
	}
	
	#text_links ul li:last-child:after{
		content: none;
	}
	
	#text_links ul li:after{
		content: "|";
		padding: 5px;
		color: white;
	}

	#white_text a{
		color: white;
		text-decoration: none;
	}


#nav_bar{
	width: 900px;
	height: 30px;
	background-color: #eee;
	padding-top: 5px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	overflow: hidden;
}
	#nav_bar a{
		color: teal;
		font-size: 12px;
		text-decoration: none;
	}
	
	#nav_bar ul{
		margin-left: 20px;
	}
	#nav_bar li{
		display: inline;
		top: 5px;
		right: 150px;
	}
	#nav_bar ul li:last-child:after{
		content: none;
	}
	#nav_bar ul li:after{
		content: "|";
		padding: 5px;
		color: teal;
	}

#main_content{
	margin-top: 20px;
	font-size: 12px;
}

#side_bar, #right_content{
	display: inline-block;
	vertical-align: top;
}

#side_bar{
	width: 175px;
	height: 235px;
	margin: 20px 10px 20px 20px;
	border: 1px solid black;
	background-color: #eee;
	padding: 20px 5px 0px 20px;
}
	#side_bar a{
		color: darkred;
		margin-left: 7px;
	}
	
	#side_bar ul{
		list-style: none;
	}
	
	#side_bar ul li{
		color: darkred;
		margin-top: 3px;
	}

#right_content{
	width: 600px;
	height: 1000px;
	margin: 20px 20px 20px 10px;
}
	#right_content h2{
		color: darkred;
	}
	
	#right_content h3{
		margin-top: 20px;
		color: darkred;
	}

	#right_content h3.content_title{
		border-top: 2px solid silver;
		padding-top: 10px;
	}
	#right_content ul, ol{
		margin-left: 30px;
	}
	
	#right_content a{
		color: darkred;
	}
	
	#right_content span{
		font-weight: bold;
	}
	
	#right_content span.selected_text{
		color: darkred;
		text-decoration: underline;
		font-weight: normal;
	}
	
	

