#container{
	background-color: grey;
	width:960px;
}
#box-1, #box-2, #box-3{
	background-color: green;
	height: 200px;
	width: 200px;
	border: 1px solid black;
	margin: 0 20px;
	padding: 20px;
}
#box-1{
	float: right; 
}